@import 'base';

.modal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0,0,0,0.6);
}

.profile {
  background-color: $content-color-trans;
  border-radius: 16px;
  margin: 10% auto;
  padding: 28px;
  width: 40%;
  height:auto;
}

.pic >img{
   height: 20vw;
   width: 20vw;
   border-radius: 50%;
   object-fit: cover;
}

.name{
   padding: 0px 20px;
}

.description{
   padding-left: 20px;
}
